ws-soap-top-down-p8/src/main/resources/wsdl/ShapeCalcWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://ws.service.shape.calc.eli.com/"
    xmlns:tns="http://ws.service.shape.calc.eli.com/" 
    xmlns:parms="http://parms.ws.service.shape.calc.eli.com/" 
    xmlns:resp="http://resp.ws.service.shape.calc.eli.com/" 
    >
 
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
            <xsd:import namespace="http://resp.ws.service.shape.calc.eli.com/" 
                schemaLocation="./ShapeCalcRespTypes.xsd" />
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
            <xsd:import namespace="http://parms.ws.service.shape.calc.eli.com/" 
                schemaLocation="./ShapeCalcParmTypes.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="QueueCalculation">
        <wsdl:part name="parameters" element="parms:QueueRequestParms" />
    </wsdl:message>
    <wsdl:message name="QueueCalculationResponse">
        <wsdl:part name="response" element="resp:QueueResponse" />
    </wsdl:message>

    <wsdl:message name="RunAllPendingRequestsNoStopOnError" />
    <wsdl:message name="RunAllPendingRequestsNoStopOnErrorResponse">
        <wsdl:part name="response" element="resp:RunPendingRequestsResponse" />
    </wsdl:message>

    <wsdl:message name="GetPendingRequests" />
    <wsdl:message name="GetPendingRequestsResponse">
        <wsdl:part name="response" element="resp:PendingRequestsResponse" />
    </wsdl:message>

    <wsdl:portType name="ShapeCalculatorWebService">

        <wsdl:operation name="runAllPendingRequestsNoStopOnError">
            <wsdl:input   message="tns:RunAllPendingRequestsNoStopOnError" />
            <wsdl:output  message="tns:RunAllPendingRequestsNoStopOnErrorResponse" />
        </wsdl:operation>

        <wsdl:operation name="queueCalculation">
            <wsdl:input  message="tns:QueueCalculation" />
            <wsdl:output message="tns:QueueCalculationResponse" />
        </wsdl:operation>

        <wsdl:operation name="getPendingRequests">
            <wsdl:input  message="tns:GetPendingRequests"/>
            <wsdl:output message="tns:GetPendingRequestsResponse"/>
        </wsdl:operation>

    </wsdl:portType>
 
    <wsdl:binding name="ShapeCalculatorWebServiceSoapBinding" type="tns:ShapeCalculatorWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="runAllPendingRequestsNoStopOnError">
            <soap:operation soapAction="runAllPendingRequestsNoStopOnError" style="document"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="queueCalculation">
            <soap:operation soapAction="queueCalculation" style="document"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPendingRequests">
            <soap:operation soapAction="getPendingRequests" style="document"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="ShapeCalculatorWebService">
        <wsdl:port name="ShapeCalculatorWebService" binding="tns:ShapeCalculatorWebServiceSoapBinding">
            <soap:address location="http://localhost:8080/ws-soap-top-down/services/ws/ShapeCalculatorWebService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>


